<ol id="myury-joyride">
  <li>
    <h2>Creating Your First Show</h2>
    <p>Congratulations on completing your demo - you're now all set to get on air.
    I'm here to guide you through applying for your first show. You can shut me up at any time by clicking
    the cross in the corner.</p>
  </li>
</ol>