*.LCK*
MyRadio_Config.local.php*
util/checkpassword.conf
*.sw[a-z]
sftp-*.json
.sync-config.cson
.tags*
Thumbs.db
cache.properties
build/
.phpintel
.vagrant
src/vendor
composer.lock
node_modules/
package-lock.json
src/Public/img/stats_training_*.svg
