/nbproject
*.LCK*
MyRadio_Config.local.php
util/checkpassword.conf
*.sw[a-z]
sftp-*.json
.tags*
.phpintel
.vagrant
src/vendor
composer.lock
build/logs/junit.xml
build/coverage
build/logs/clover.xml
*.db
