version: '3'
services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_DB: myradio
      POSTGRES_USER: myradio
      POSTGRES_PASSWORD: myradio
    volumes:
      - db-data:/var/lib/postgresql/data
  memcached:
    image: memcached:alpine
  myradio:
    build: .
    depends_on:
      - postgres
      - memcached
    ports:
      - 7080:80
      - 4443:443
    volumes:
      - ./schema:/var/www/schema
      - ./src:/var/www/myradio
volumes:
  db-data: