<ul class="list">
    <li><a target="_blank" href="https://spreadsheets0.google.com/viewform?authkey=CN-SpJEP&amp;authkey=CN-SpJEP&amp;hl=en&amp;formkey=dGJ0WFNSQ1hKYmN3QV93RjZEbEF3Ymc6MQ#gid=0">Report an Engineering Fault</a></li>
    <li><a target="_blank" href="{{myury.makeURL(config,'Mail','send',{'list':36})}}">Report a Computing Fault</a></li>
    <li><a target="_blank" href="{{myury.makeURL(config,'Mail','send',{'list':44})}}">Contact Management</a></li>
    <li><a target="_blank" href="{{myury.makeURL(config,'Mail','send',{'list':41})}}">Contact Programming Team</a></li>
</ul>