<ul class="list">
    <li><a target="_blank" href="{{MyRadio.makeURL(config,'Mail','send',{'list':30})}}">Report a Fault</a></li>
    <li><a target="_blank" href="{{MyRadio.makeURL(config,'Mail','send',{'list':44})}}">Contact Management</a></li>
    <li><a target="_blank" href="{{MyRadio.makeURL(config,'Mail','send',{'list':56})}}">Contact Presenting Team</a></li>
</ul>
