<table id="selector-buttons"><tr>
  {% if not plugin.vars.s1power %}
    <td class="selbtn poweredoff" id="s1" title="Studio 1 Powered Off"></td>
  {% elseif plugin.vars.status.studio == 1 %}
    <td class="selbtn poweredon s1on" id="s1" title="Studio 1"></td>
  {% else %}
    <td class="selbtn poweredon s1off" id="s1" title="Studio 1"></td>
  {% endif %}

  {% if not plugin.vars.s2power %}
    <td class="selbtn poweredoff" id="s2" title="Studio 2 Powered Off"></td>
  {% elseif plugin.vars.status.studio == 2 %}
    <td class="selbtn poweredon s2on" id="s2" title="Studio 2"></td>
  {% else %}
    <td class="selbtn poweredon s2off" id="s2" title="Studio 2"></td>
  {% endif %}

  {% if plugin.vars.status.studio == 3 %}
    <td class="selbtn poweredon s3on" id="s3" title="Jukebox"></td>
  {% else %}
    <td class="selbtn poweredon s3off" id="s3" title="Jukebox"></td>
  {% endif %}

  {% if not plugin.vars.s4power %}
    <td class="selbtn poweredoff" id="s4" title="Outside Broadcast"></td>
  {% elseif plugin.vars.status.studio == 4 %}
    <td class="selbtn poweredon s4on" id="s4" title="Outside Broadcast"></td>
  {% else %}
    <td class="selbtn poweredon s4off" id="s4" title="Outside Broadcast"></td>
  {% endif %}

  </tr>
</table>
<span id="onair">
  {% if plugin.vars.status.studio == 1 or plugin.vars.status.studio == 2 %}
    Studio {{ plugin.vars.status.studio }} On Air
  {% elseif plugin.vars.status.studio == 3 %}
    Jukebox On Air
  {% elseif plugin.vars.status.studio == 4 %}
    Outside Broadcast On Air
  {% else %}
    Source {{ plugin.vars.status.studio }} On Air
  {% endif %}
  {% if plugin.vars.status.lock != '0' %}
    <small> &mdash; Locked</small>
  {% endif %}
</span><br>
