<span>WARNING: Do <b><em>NOT</em></b> announce any listener statistics on-air, it is unprofessional</span>
<img id="urystats" alt="Listener stats graph" src="{{myury.makeURL(config,'SIS','stats.graph')}}">