<div id="switcher"></div>
<script type="text/javascript">
    $(document).ready(function(){
            $("#switcher").themeswitcher({
                    imgpath: "",
                    jqueryuiversion: "1.10.3",
                    additionalthemes: [
                        {
                            title: "MyURY",
                            name: "myury",
                            icon: null
                        }
                    ]
            });
        });
</script>