<figure class="webcam-stream-container live" id="webcam-stream-live">
    <img src="{{ plugin.vars.webcam_prefix }}current" class="webcam-stream" width="150px" id="wccurrent" alt="current webcam">
    <figcaption>Live</figcaption>
  </figure>

{% for stream in plugin.vars.streams if stream.streamid in 2..4 %}
  <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}">
    <img src="{{stream.liveurl}}" class="webcam-stream" width="70px">
    <figcaption>{{stream.streamname}}</figcaption>
  </figure>
{% endfor %}
<br>
Activate:
<button id="setactive0" class="btn">JB</button>
<button id="setactive2" class="btn">S1</button>
<button id="setactive3" class="btn">FC</button>
<button id="setactive4" class="btn">S2</button>

<button id="setactive7" class="btn invisible">C</button>
<div style="display:none" id="customcam">
  <label for="camurl">URL: <input type="text" size="27" id="camurl"></label> <button id="setcustomcam" class="btn btnenabled">Set</button>
</div>