{% extends 'stripe.twig' %}

{% block stripecontent %}
<div id="chart_div" style="width: 900px; height: 500px;"></div>
{{caption}}
{% endblock %}

{% block foot %}
{{ parent() }}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{data|raw}});

        var options = {% if options %}{{options | raw}}{% else %}[]{% endif %};

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
