{% extends 'base.twig' %}
{% block content %}
<div class="content-stripe">
  {% for notice in notices %}
    <div class="ui-state-{{notice.state}}"><span class="ui-icon ui-icon-{{notice.icon}}" style="float:left"></span>{{notice.message}}</div>
  {% endfor %}
  {% block stripecontent %}{% endblock %}
</div>
{% endblock %}