{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
<link type="text/css" href="//ury.york.ac.uk/portal/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
<script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block stripecontent %}
<table class="twig-datatable dataTable">
  <thead>
  <tr>
    {% for title, column in tabledata[0] %}
      <th>{{ title }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in tabledata %}
  <tr>
    {% for column in row %}
      <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% else %}
    <tr>
      <td>This table is empty!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}