{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
<link type="text/css" href="//ury.york.ac.uk/portal/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
<script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block stripecontent %}
<table class="twig-datatable dataTable">
</table>
<script type="text/javascript">
  var window.tabledata = {{ tabledata }};
</script>
<script type="text/javascript" src="//ury.york.ac.uk/myury/js/{{tablescript}}.js"></script>
{% endblock %}