{% extends 'stripe.twig' %}
{% block stripecontent %}
<form action="./" method="post">
<input type="hidden" name="svc_name" value="{{serviceName}}" />
<select name="svc_version">
  <option disabled="disabled"></option>
  {% for version in versions %}
  <option value="{{version.version}}">{{version.version}}</option>
  {% endfor %}
</select>
<input type="submit" value="Next" />
</form>
{% endblock %}
