{% import 'macros.twig' as MyRadio %}

<!-- Lists the items at the bottom of the Get On Air Section based on training etc.-->

<!--Get Studio Trained-->
<li class="{% if studio_demoed %}menu-checklist-done{% endif %}">
    <a href="{{MyRadio.makeURL(config, 'Scheduler','listDemos')}}" title="Learn how to use the studio in a 1-1 or 2-1 training session.">Get Studio Trained</a>
</li>

<!--Pay Membership-->
<li class="{% if paid %}menu-checklist-done{% endif %}">
  <a href="{{ config.payment_url }}" target="_blank" title="Before we can let you use our shiny and expensive studio, you'll need to pay membership. Click here to do so on the YUSU website now.">Become a Paid Member</a>
</li>

<!--Sign Presenter Contract-->
<li {% if paid and contract_signed %} class="menu-checklist-done"{% endif %}>
  <a href="{% if paid and contract_signed %}javascript:{% else %}{{MyRadio.makeURL(config, 'Profile', 'edit')}}{% endif %}">Sign Presenter Contract</a>
</li>

<!--Apply for a Show-->
<li {% if not (studio_demoed and paid and contract_signed) %} class="menu-checklist-disabled"{% endif %}>
  <a href="{% if not (studio_demoed and paid) %}javascript:{% else %}{{MyRadio.makeURL(config, 'Scheduler', 'myShows')}}{% endif %}"
     title="{% if not has_show %}You've passed all the stages of training. Now it's time to apply for your very first show! {%
else
%}One show a term not enough? Click here to apply for another show.{% endif %}">Apply for a Show</a>
</li>

<!--Advanced Studio Training-->
<li class="{% if not studio_demoed %}menu-checklist-disabled{% endif %}">
    <a href="{% if not (studio_demoed) %}javascript:{% else %}https://docs.google.com/forms/d/e/1FAIpQLSdaCSzLu7cNDnkr0nVVFkSpzgBFor_coIotY1Wt1o9cH9UyyA/viewform{% endif %}" title="Want to find out about more of the amazing things you can do in the studio? Get Advanced Training here!">Get Advanced Studio Trained</a>
</li>

<!--Uploader Training-->
<li class="{% if not (studio_demoed and contract_signed)%}menu-checklist-disabled{% endif %}">
    <a href="{% if not (studio_demoed and contract_signed)%}javascript:{% else %}https://docs.google.com/forms/d/e/1FAIpQLSeIkVMShKhuwtn5cKJyvJd242WNVf2vtn7elW3-myFEKrIPig/viewform{% endif %}" title="Before you upload songs to our music library, you need to learn some rules about uploading. Click here to get some training.">Get Music Upload Trained</a>
</li>
