{% extends 'table.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block stripecontent %}
<p>This is a list of all permission flags currently set up in MyRadio.
Permission flags can be added to Users, Officerships, Training Statuses,
IP addresses and API keys to dynamically enable and disable MyRadio content
based on context.</p>
<p>The flags can then be assigned to Actions, API Endpoints or verified manually
to control access.</p>
<a href='{{MyRadio.makeURL(config, 'MyRadio', 'addPermission')}}'>Add Permission</a>
{{ parent() }}
{% endblock %}
