{% extends 'form.twig' %}
{% block stripecontent %}
{% if frm_custom.error %}
<div class='ui-state-error'>
    Login failed. Please check your details and try again.
</div>
{% elseif frm_custom.logout %}
<div class='ui-state-highlight'>
    <span class="ui-icon ui-icon-circle-check fleft"></span>You have now logged out of all {{config.short_name}} web services.
</div>
{% endif %}
<p>The page you're trying to access requires you to be a {{config.short_name}} Member.
Please enter your login details below. If you haven't joined yet, you can do so
<a href='/getinvolved/'>on our Get Involved</a> page.</p>
{{ parent() }}
<p><a href='{{MyRadio.makeURL(config, "MyRadio", "pwReset")}}'>I've forgotten my login</a></p>
{% endblock %}
