{% extends 'form.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block stripecontent %}
<h4> last updated 10/10/2023 </h4>
<p> 
Welcome to MyRadio, the University Radio York members website! At URY, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect your data when you use our website.
Please take a moment to read this Privacy Policy carefully to understand our practices regarding your personal information. By using the MyRadio website, you consent to the practices described herein.
</p>
<h3> 1. Information We Collect </h3>
<p> We collect the following types of information when you use our website: </p>
<h4> a. Personal Information: </h4>
<ul>
<li>When you register for an account, we collect your name, email address, and password.</li>
<li>If you choose to provide it, we may collect additional information such as your college, profile picture, and other personal details.</li>
</ul>
<h4> b. Communications: </h4>
<ul>
<li> When you contact us, we may collect information about your communications with us, including emails and other correspondence. </li>
<li> To send you updates, and newsletters, if you opt-in to receive them. </li>
</ul>
<h3> 2. How We Use Your Information </h3>
<p>
Certain URY committee members and members as delegated by the Head of Computing can access your data. We use the information we collect for the following purposes:
</p>
<h4> a. To Provide Services: </h4>
<li>To create and manage your MyRadio account. </li>
<li>To enable you to participate in URY activities. </li>
<li>To personalise your experience on our website. </li>
</ul>
<h4> b. Communication: </h4>
<ul>
<li> To respond to your inquiries and provide support. </li>
<li> To send you updates, and newsletters, if you opt-in to receive them. </li>
</ul>
<h4> c. Legal and Security: </h4>
<ul>
<li> To comply with legal obligations and resolve disputes.</li>
<li> To provide required information to ofcom, which may include committee history.</li>
<li> To protect the security and integrity of our website and users. </li>
</ul>
<h3> 3. Sharing of Information </h3>
<p> We may share your information under the following circumstances: </p>
<h4> a. With Third Parties: </h4>
<ul>
<li> We may share your information with third-party service providers who assist us in providing and improving our services. These providers are contractually obligated to protect your data. </li>
<li> We may share your information with legal authorities if required by law or to protect our rights, privacy, safety, or property.</li>
</ul>
<h3> 4. Your Choices</h3>
<p> You have certain choices regarding your personal information: </p>
<h4> a. Access and Correction:</h4>
<p> You can access and update your personal information by logging into your MyRadio account and editing your profile. </p>
<h4> b. Visibility:</h4>
<p> You can hide your public profile at any point by logging into your MyRadio account and editing your profile. </p>
<h4> c. Communications:</h4>
<p> You can opt out of receiving marketing from us via MyRadio by following the instructions in our emails or contacting us directly. </p>
<h3> 5. Security </h3>
<p>
We take the security of your personal information seriously. We employ security measures to protect your data from unauthorised access, disclosure, alteration, and destruction.
</p>
<h3> 6. Removal of Information </h3>
<p>
After one year of not logging into MyRadio we will delete all your personal information that is not required for our wbsites to function. This includes contact information and details about your course. This does not include information that can be found on your public profile.
</p>
<p>
You can request the deletion of personal information from our website and wiki or removals of show recordings by contacting our computing team. We are not legally obligated to delete show recordings.
</p>
<h3> 7. Changes to this Privacy Policy </h3>
<p>
We may update this Privacy Policy from time to time to reflect changes in our practices or for legal and regulatory reasons. We will notify you of any significant changes via email or by posting a notice on our website.
</p>
<h3> 8. Contact Us </h3>
<p>
If you have any questions, concerns, or requests regarding this Privacy Policy or your personal information, please contact us at computing@ury.org.uk or management@ury.org.uk.
Thank you for using MyRadio, and we appreciate your trust in us to protect your privacy.
</p>

<br>
<h2> Click submit to agree to the MyRadio privacy policy </h2>
{{ parent() }}
{% endblock %}
