{% extends 'form.twig' %}
{% block stripecontent %}
{% if frm_custom.error %}
<div class='ui-state-error'>
    Failed. Please check your details and try again.
</div>
{% elseif frm_custom.sent %}
<div class='ui-state-highlight'>
    <span class="ui-icon ui-icon-circle-check fleft"></span>Please check your email for a password reset link.
</div>
{% endif %}
{% for provider in frm_custom.messages %}
<p>{{ provider | raw }}</p>
{% endfor %}
{{ parent() }}
{% endblock %}