{% import 'macros.twig' as MyRadio %}

<!-- Puts the crossed-out ShowPlanner link in-->

<!--Apply for a Show-->
<li class="menu-checklist-disabled">
  <a href="{{MyRadio.makeURL(config, 'NIPSWeb')}}"
     title="Deprecated - Please use WebStudio. Plan, create and practise your shows in advance!">Show Planner</a>
</li>


