<!DOCTYPE html>
<html>
  <head>
{% include 'parts/base_head.twig' %}
    <link rel="stylesheet" type="text/css" href="{{baseurl}}css/planner.css" />
  </head>
  <body id="iframe">
    <div id="alert" class="alert alert-success"><div class="glyphicon glyphicon-ok"></div> Welcome to the Show Planner Importer!</div>
    <select class="form-control" id="import-show-selector" disabled="disabled">
      <option disabled="disabled" selected="selected" value="null">Select a show...</option>
    </select>
    <select class="form-control" id="import-season-selector" disabled="disabled">
      <option disabled="disabled" selected="selected" value="null">Select a season...</option>
    </select>
    <select class="form-control" id="import-timeslot-selector" disabled="disabled">
      <option disabled="disabled" selected="selected" value="null">Select a timeslot...</option>
    </select>

    <div id="import-channel-selector" class="btn-group hidden">
        <a href="#" id="import-channel-0" channel="0" class="btn btn-default active">Channel 1</a>
        <a href="#" id="import-channel-1" channel="1" class="btn btn-default">Channel 2</a>
        <a href="#" id="import-channel-2" channel="2" class="btn btn-default">Channel 3</a>
    </div>
    <div id="import-channel-filter-btns" class="hidden">
      <a href="#" onclick="selectNone()">Select None</a> |
       <a href="#" onclick="selectAll()">Select All</a>
    </div>
    <form id="import-channel-list" class="baps-channel hidden">
    </form>
      <div id="import-to-channel-selector" class="hidden">
        <label>Import to </label>
        <div class="btn-group">
            <a href="#" id="import-to-channel-0" channel="0" class="btn btn-default" onclick="importSelectedTracks(0)">Channel 1</a>
            <a href="#" id="import-to-channel-1" channel="1" class="btn btn-default" onclick="importSelectedTracks(1)">Channel 2</a>
            <a href="#" id="import-to-channel-2" channel="2" class="btn btn-default" onclick="importSelectedTracks(2)">Channel 3</a>
        </div>
      </div>

<script type="text/javascript" src="{{baseurl}}js/nipsweb.import.js"></script>
{% include 'parts/base_foot.twig' %}
  </body>
</html>
