{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
{% include 'MyURY/Webcam/tracker.twig' %}
{% endblock %}
{% block stripecontent %}
<div class="webcam-grid-container">
  {% for stream in streams %}
    <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}" style="display:inline-block">
      <img src="{{stream.liveurl}}" class="webcam-stream" />
      <figcaption>{{stream.streamname}}</figcaption>
    </figure>
    {% endfor %}
  </div>
{% endblock %}