{# submenu template #}
{% block submenu %}
<menu id="stripe-module-submenu" class="clearfix">
  {% for item in submenu %}
    <li><a href="{{item.url}}"  id="submenu-{{item.title|replace({' ':''})}}" title="{{item.description}}">{{item.title}}</a></li>
  {% endfor %}
</menu>
{% endblock %}
