{% extends 'stripe.twig' %}
{% block stripecontent %}
<p>Welcome the the Campus Jukebox Manager. These pages allow you to control what the Campus Jukebox plays out on air.
This includes editing the playlists, requesting tracks, or scheduling the playout of pre-recorded material.</p>
{{ parent() }}
{% endblock %}