{% extends 'form.twig' %}

{% block stripecontent %}
<p>You're currently editing this playlist. Whilst this page is open nobody else can edit this playlist.</p>
{{ parent() }}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.iTones.editPlaylist.js"></script>
{% endblock %}
