html {
  height: 100%;
}

body {
  width: 98%;
  min-width: 1200px;
  height: calc(100% - 42px);
  margin: 20px auto 0 auto;
}

#notice {
  position: fixed;
  top: 0;
  left: -2px;
  z-index: 1050;
  height: 51px;
}

.main-container, #baps-channel-container {
  height: calc(100% - 60px);
  width: 100%;
}

#grid {
  height: calc(100% - 100px);
  min-height: 280px;
  min-width: 1188px;
  position: relative;
}

#bapswrapper {
  height: 100%;
  min-width: 1200px;
}

#resource-add-container {
  padding: 0;
}
#resource-add-header {
  height: 88px;
  background-color: #777;
}
#resource-add-header .tt-hint {
  margin: 0 0 0 2px;
  height: 24px;
  border: none;
  width: 100%;
}
#resource-add-header .tt-dropdown-menu {
  margin-left: 0;
}

#central-dragdrop, #res-dragdrop {
  height: 250px;
  margin-bottom: 0;
  width: 550px;
}
#central-status, #res-status {
  position: relative;
  top: calc(100% - 60px);
  left: -19px;
  width: calc(100% + 38px);
  height: 32px;
  padding-top: 5px;
}
#res-status {
  top: calc(100% - 33px);
}
.result-container {
  width: 550px;
}
.result-container .alert {
  width: 100%;
  padding: 5px 15px 3px 15px;
  margin: 0;
}
#lastfm-attr {
  position: relative;
  top: calc(100% - 70px);
  right: 1em;
  text-align: right;
}
#baps-channel-res {
  height: calc(100% - 90px);
}
#a-manage-library {
  float: right;
  margin: 0;
  position: relative;
  right: 20px;
  top: 0.5em;
}

#res-loading {
  float: right;
  font-size: smaller;
  padding: 1px;
  margin: 2px;
}
#res-filter-artist,  #res-filter-track,  #res-filter-name, #resource-add-header .twitter-typeahead {
  padding: 0;
  width: 100%;
}

.footer-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  margin-bottom: 0;
  padding: 10px;
}

.box.height-1 {
  height: 75%;
}
.box.height-2 {
  height: 100%;
  margin-bottom: 0;
}

ul.baps-channel {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background-color: #eee;
  border: 1px solid #777;
  border-bottom: none;
  position: static; /* override bootstrap relative, which breaks sortable */
}

div.baps-channel {
  text-align: center;
  background-color: #333;
  color: #FFF;
  border: 1px solid #777;
  border-top: none;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

div.baps-channel a {
  color: #FFF;
}

ul.baps-channel li {
  list-style: none;
  cursor: pointer;
  height: 1.4em;
  overflow: hidden;
}

ul.baps-channel li:hover {
  background-color: #5bc0de;
}

ul.baps-channel li.selected {
  background-color: #428bca;
}

select {
  color: #333;
  width: 100%;
}

#track-manual-entry label {
  width: 150px;
}

/** SLIDER COMPONENT **/

.playout-slider-container {
  margin-top: 5px;
  width: 100%;
  height: 26px;
  text-align: left;
}

.playout-slider-container .playout-slider {
  background-color: #eee;
  border: 1px solid #428bca;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.playout-slider div {
  display: inline-block;
  position: absolute;
}

.playout-slider .playout-slider-cue,
.playout-slider .playout-slier-intro {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.playout-slider .playout-slider-cue {
  background-color: #d9534f;
  top: 0;
  height: 100%;
}

.playout-slider .playout-slider-intro {
  background-color: #5bc85c;
  top: 3px;
  height: calc(100% - 6px);
}

.playout-slider .playout-slider-position {
  border-top: 12px solid rgba(66, 139, 202, 0.4);
  border-bottom: 12px solid rgba(66, 139, 202, 0.4);
  top: 0;
  height: 4px;
}

.playout-slider .playout-slider-position .playout-slider-line {
  background-color: #2376bb;
  height: 4px;
  width: 100%;
  position: absolute;
  top: -2px;
}

.playout-slider .playout-slider-position .playout-handle {
  position: absolute;
  right: 0;
  top: -13px;
  height: 26px;
  width: 3px;
  background-color: #0a5a9c;
}

.playout-slider:hover .playout-slider-position .playout-handle {
  right: -2px;
  width: 7px;
}

.playout-slider .playout-slider-intro .playout-handle {
  position: absolute;
  right: 0;
  top: -3px;
  height: 24px;
  width: 2px;
  background-color: #5bc85c;
}

.playout-slider .playout-slider-intro .playout-handle {
  position: absolute;
  right: 0;
  top: -3px;
  height: 24px;
  width: 2px;
  background-color: inherit;
}

.playout-slider .playout-slider-intro:hover .playout-handle,
.playout-slider .playout-slider-intro:active .playout-handle {
  height: 30px;
}

.playout-slider .playout-slider-intro .playout-handle .playout-handle-circle {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -8px;
  left: -4px;
}

.playout-slider .playout-slider-cue .playout-handle,
.playout-slider .playout-slider-cue .playout-handle {
  position: absolute;
  right: 0;
  height: 30px;
  width: 2px;
  top: -5px;
}

.playout-slider .playout-slider-intro:hover .playout-handle .playout-handle-circle,
.playout-slider .playout-slider-intro:active .playout-handle .playout-handle-circle {
  border: 2px solid #5bc85c;
  border-radius: 5px;
}

.playout-slider .playout-slider-cue:hover .playout-handle,
.playout-slider .playout-slider-cue:active .playout-handle {
  background-color: inherit;
}

.playout-slider .playout-slider-cue .playout-handle .playout-handle-circle {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -8px;
  left: -4px;
}

.playout-slider .playout-slider-cue:hover .playout-handle .playout-handle-circle,
.playout-slider .playout-slider-cue:active .playout-handle .playout-handle-circle {
  border: 2px solid #d9534f;
  border-radius: 5px;
}
