html {
  height: 100%;
}

body {
  width: 98%;
  min-width: 1200px;
  height: calc(100% - 42px);
  margin: 20px auto 0 auto;
}

#notice {
  position: fixed;
  top: 0;
  left: -2px;
  z-index: 1050;
  height: 51px;
}

.main-container, #baps-channel-container {
  height: calc(100% - 60px);
  width: 100%;
}

#grid {
  height: calc(100% - 100px);
  min-height: 580px;
  min-width: 1188px;
  position: relative;
}

#bapswrapper {
  height: 100%;
  min-width: 1200px;
}

#resource-add-container {
  padding: 0;
}
#resource-add-header {
  height: 88px;
  background-color: #777;
}
#central-dragdrop, #res-dragdrop {
  height: 250px;
  margin-bottom: 0;
  width: 550px;
}
#central-status, #res-status {
  position: relative;
  top: calc(100% - 60px);
  left: -19px;
  width: calc(100% + 38px);
  height: 32px;
  padding-top: 5px;
}
.result-container {
  width: 550px;
}
.result-container .alert {
  width: 100%;
  padding: 5px 15px 3px 15px;
  margin: 0;
}
#lastfm-attr {
  position: relative;
  top: calc(100% - 70px);
  right: 1em;
  text-align: right;
}
#baps-channel-res {
  height: calc(100% - 90px);
}
#a-manage-library {
  float: right;
  margin: 0;
  position: relative;
  right: 20px;
  top: 0.5em;
}

#res-loading {
  float: right;
  font-size: smaller;
  padding: 1px;
  margin: 2px;
}
#res-filter-artist,  #res-filter-track,  #res-filter-name {
  padding: 0;
  width: 100%;
}

.footer-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  margin-bottom: 0;
}

.box.height-1 {
  height: 75%;
}
.box.height-2 {
  height: 100%;
  margin-bottom: 0;
}

ul.baps-channel {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background-color: #eee;
  border: 1px solid #777;
  border-bottom: none;
}

div.baps-channel {
  text-align: center;
  background-color: #333;
  color: #FFF;
  border: 1px solid #777;
  border-top: none;
}

ul.baps-channel li {
  list-style: none;
  cursor: pointer;
  height: 1.4em;
  overflow: hidden;
}

ul.baps-channel li:hover {
  background-color: #5bc0de;
}

ul.baps-channel li.selected {
  background-color: #428bca;
}

div[id^=progress-bar] {
  margin: 0 0.4em 0.2em;
}
/** Thin handled slider **/
.ui-slider .ui-slider-handle {
  width: .2em;
}

.ui-slider:hover .ui-slider-handle {
  width: .6em;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.1em;
}

.ui-state-error{
  display : block;
}

.ui-contextmenu {
  z-index: 10000;
}

select {
  color: #333;
  width: 100%;
}

#track-manual-entry label {
  width: 150px;
}