.container {
  width: calc(100% - 10px);
}

#notice {
  position: fixed;
  top: 50px;
  left: 0;
}

#grid {
  min-width: 250px;
  position: relative;
}

@media (min-width: 992px) {
  @media (min-height: 900px) {
    #grid {
      height: 725px;
    }

    #grid > div, #grid > div > div.tab-content {
      height: 100%;
    }
  }

  .tab-content .tab-pane {
    height: 100%;
    overflow-y: auto;
  }
}

.hr { margin:.5em 0 0 0; }

#presenterinfo {
  padding-top: 15px;
}

#presenterinfo footer {
  text-align: right;
  font-style: italic;
}

#messages {
  text-align: center;
  width: 100%;
}
.td-msgitem td:first-child {
  visibility: hidden;
  color: #fd0;
  width: 15px;
}
.td-msgitem.unread td:first-child {
  visibility: visible;
}
.td-msgitem td:nth-child(2) {
  width: 15px;
  padding-right: 35px;
}

table.messages tr td:last-child {
  width: 100px;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }


/** Selector **/
#selector-buttons {
  margin: 0 auto;
  border-spacing: 20px 0;
  margin-bottom: .5em;
  border-collapse: separate;
  max-width: 250px;
}
.selbtn { height:35px; width:35px; }
.poweredon { cursor:pointer; }
.s4on { background-color: #6b00a3; }
.s4off { background-color: #5f0093; }
.s3on { background-color: #0f0; }
.s3off { background-color: #080; }
.s2on { background-color: #0044ba; }
.s2off { background-color: #003c76; }
.s1on { background-color: #f00; }
.s1off { background-color: #600; }
.poweredoff { background-color: #333; }

.td-msgitem, .delbutton {
  cursor: pointer;
}

/** Webcam **/
figure {
  margin: 0;
}
figure.webcam-stream-container {
  width: 70px;
  display: block;
}
figure.webcam-stream-container.live {
  width: 150px;
  float: right;
}
figure.webcam-stream-container img {
  width: 100%;
}
#customcam {
  margin-top: 0.5em;
}
#customcam label {
  margin-right: 0.5em;
}

.scheduleview .show {
  font-size: 1.5em;
}

.scheduleview .show-description {
  font-size: .8em;
}

.twitter-typeahead {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.myradiofrmfield {
  display: block;
  width: 80%;
  margin-bottom: 1em;
}

.twitter-typeahead .myradiofrmfield {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  width: 80%;
}