body {
  margin-top: 50px; /* Bootstrap navbar offset */
}

#menu #navRight {
  float: right;
  position: relative;
  top: -22px;
  left: -2px;
  color: #fff;
}

.main-container {
  margin-bottom: 60px;
}

.footer {
  width: 100%;
  padding: 8px 0;
  border-top: .5em solid #f5f5f5;
}

@media (min-height: 800px) and (min-width: 992px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 40px;
    z-index: 50;
    background-color: #f5f5f5;
    border: none;
  }
}

/* Stuff to get the nav to collapse at 991px (when the menu collapses)
 * Taken from http://stackoverflow.com/a/36289507/995325 */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left, .navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
  }
  .navbar-nav > li {
      float: none;
  }
  .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in {
      display: block !important;
  }
}

/** MyRadio bootstrap navbar overides taken from http://work.smarchal.com/twbscolor/css/2D425F2D425Fffffffe1e1e11 **/
.navbar-ury {
  background-color: #2D333C;
  border-color: #2D425F;
  border: none;
}
.navbar-ury .navbar-brand {
  color: #ffffff;
  padding: 10px 15px; /** added to center the logo **/
  line-height: 30px;  /** added to center the logo **/

}
.navbar-ury .navbar-brand.myradio-logo {
  margin-left: 0 !important;
}
.navbar-ury .navbar-brand img {
  max-height: 100%;
}
.navbar-ury .navbar-brand:hover,
.navbar-ury .navbar-brand:focus {
  color: #e1e1e1;
}
.navbar-ury .navbar-brand.divider {
  border-right: 1px white solid;
  margin: 14px 0;
  height: 22px;
  padding: 0;
}
.navbar-ury .navbar-text {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li.nav-img {
  height: 50px;
}
.navbar-ury .navbar-nav > li.nav-img > a {
  height: 100%;
  padding: 10px 10px;
}
.navbar-ury .navbar-nav > li.nav-img > a > img {
  height: 100%;
}
.navbar-ury .navbar-nav .caret {
  margin-left: 5px;
}
.navbar-ury .navbar-nav .glyphicon {
  margin-right: 5px;
}

.navbar-ury .navbar-nav > li > a:hover,
.navbar-ury .navbar-nav > li > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > li > .dropdown-menu {
  background-color: #2D425F;
  border-top: none;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2D425F;
}
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a,
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > .active > a,
.navbar-ury .navbar-nav > .active > a:hover,
.navbar-ury .navbar-nav > .active > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > .open > a,
.navbar-ury .navbar-nav > .open > a:hover,
.navbar-ury .navbar-nav > .open > a:focus {
  color: #e1e1e1;
  background-color: #2D425F !important;
}
.navbar-ury .navbar-toggle {
  border-color: #2D425F;
}
.navbar-ury .navbar-toggle:hover,
.navbar-ury .navbar-toggle:focus {
  background-color: #2D425F;
}
.navbar-ury .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-ury .navbar-collapse,
.navbar-ury .navbar-form {
  border-color: #ffffff;
}
.navbar-ury .navbar-link {
  color: #ffffff;
}
.navbar-ury .navbar-link:hover {
  color: #e1e1e1;
}
.navbar-ury .navbar-brand:hover {
  color: #e1e1e1;
  background-color: #2D425F !important;
}

@media (max-width: 767px) {
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e1e1e1;
  }
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e1e1e1;
    background-color: #2D425F;
  }
}
/** MyRadio Menu Styles **/

.menu-column {
  width: 30%;
  float: left;
  text-align: left;
  padding: 0 0 0 3%;
}
.menu-column h2 {
  text-align: center;
}
.menu-column h3.section {
  color: #17a
}
.menu-checklist-done a {
  color: #F00;
  text-decoration: line-through
}
.menu-checklist-disabled a {
  color: #777;
  text-decoration: line-through
}

#signin {
  display: inline-block;
}

fieldset.myradioform label {
  width: 12em;
}

/** MyRadio SubMenu Styles **/

#stripe-module-submenu {
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
}
#stripe-module-submenu li {
  padding: 0 1.6em;
  display: inline-block;
}
#stripe-module-submenu li a {
  display: block;
}

/** MyRadio Timeline Styles **/

div#timelineContainer {
  border-left:2px solid #333;
  margin:20px auto;
  width:900px;
    text-align: left;
}
div.timelineToggle {
  float:right;
  margin-right:0;
  white-space:nowrap;
    position: relative;
    top: -50px;
}
a.expandAll {
  color:#ccc!important;
  cursor:pointer;
  background:#000;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-size:12px;
  padding:3px 5px;
}
a.expandAll:hover {
  border:none!important;
  color:#7DBADF!important;
  cursor:pointer;
}
div.timelineMajor {
  clear:left;
  float:left;
  margin:0 0 12px;
  width:900px;
}
  .timelineMajor h2 {
    border-left: double #555;
    color:#7097AF!important;
    cursor: pointer;
    font-family:Palatino,"Times New Roman", Times, serif;
    font-size:3em!important;
    font-weight:400!important;
    margin:0 0 10px!important;
    padding:4px 4px 4px 20px!important;
  }
  .timelineMajor h2 span {
    background:#ccc;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color:#131313;
    letter-spacing:.1em;
    line-height:1.7em;
    padding:3px 5px 1px;
  }
  .timelineMajor h2 a:hover {
    border-bottom:none;
    color:#00baff!important;
  }
dl.timelineMinor {
  clear:left;
  float:left!important;
  margin:0 12px 0 1px!important;
  padding:4px 4px 4px 0!important;
  position:relative;
  width:880px;
    top: -15px;
}
  .timelineMinor dt {
    border-left: double #666;
    clear:left;
    font-size:1.6em!important;
    list-style-type:none!important;
    line-height:1.2em;
    margin:0 0 12px!important;
    padding:0 0 0 24px!important;
    white-space:nowrap;
  }
    .timelineMinor dt a {
      color:#999;
      cursor:pointer;
    }
    .timelineMinor dt a.closed {
      color:#999;
      font-size:1em;
      margin-left:0;
    }
    .timelineMinor dt a.open {
      color:#7DBADF;
    }
    .timelineMinor dt a:hover {
      color:#7DBADF;
    }
  .timelineMinor dd {
    padding-left:24px;
    width:100%;
  }
    .timelineMinor dd h3 {
      color:#FFF;
      clear:both;
      float:left;
      font-size:1.5em!important;
      margin:0;
      white-space:nowrap;
    }
.timelineEvent p {
  clear:left;
  float:left;
  line-height:1.5em!important;
  margin:6px 0 10px;
  width:500px;
}
.timelineEvent h4 {
  clear:left;
  float:left;
  font-size:1.4em!important;
  font-weight:400;
  margin:10px 0 0;
  padding:0 0 0 20px!important;
}
.timelineEvent blockquote {
  clear:left;
  float:left;
  padding:0 30px;
  width:400px;
}
.timelineEvent blockquote * {
  float:none;
  width:400px;
}
.timelineEvent ul.moreInfo {
  clear:left;
  float:left;
  line-height:1.2em;
  list-style-type:none;
  margin:0!important;
  padding:0!important;
  width:100%;
}
.timelineEvent ul.moreInfo li {
  clear:left;
  background:none!important;
  font-size:1em!important;
  line-height:1.5em;
  margin:8px 0!important;
  padding:0 0 0 20px!important;
}
  .timelineEvent ul.moreInfo li a:link,.timelineEvent ul.moreInfo li a:visited {
    color:#7097af!important;
  }
  .timelineEvent ul.moreInfo li a:hover {
    color:#7DBADF!important;
  }
.timelineEvent div.media {
  float:right;
  padding:0 0 12px;
  width:300px;
}
  .timelineEvent .media img {
    border:2px solid #000;
    margin:0;
  }
  .timelineEvent .media p {
    font-size:1.2em;
    margin:0!important;
    padding:0!important;
  }
  .timelineEvent .media a:link,.timelineEvent .media a:visited {
    border:none!important;
    color:#ab221b!important;
  }
  .timelineEvent .media a:hover {
    color:#7DBADF!important;
  }
  .timelineEvent .media p span.source {
    font-style:italic;
  }

/** MyRadio Webcam Styles **/
.webcam-grid-container .webcam-stream {
  width: 415px;
}
.webcam-stream-container {
  display: inline-block;
}
.webcam-focus-stream-container {
  text-align: center;
}
.webcam-focus-grid-container .webcam-stream {
  width: 320px;
}

label.label-nofloat {
  float: none;
  display: inline
}

/** MyRadio Profile Styles **/
#profile ul {
  margin-top: 0;
}

/** MyRadio Form Styles **/
select {
  color: #222!important;
}

.myradiofrm {
    padding: 0 10px 10px;
    border: dashed 1px;
}
.myradiofrmfield-container label {
    display: block;
}
.myradiofrmfield-container {
    padding: 5px;
    clear: both;
}
.myradiofrmfield-container input, .myradiofrmfield-container textarea, .myradiofrmfield-container select {
    max-width: 90%;
    vertical-align: top;
}
.myradiofrmfield-container input[type="checkbox"] {
    float: none;
}
.myradiofrmhint {
    padding-left: 1em;
    display: inline-block;
    max-width: 350px
}
.myradiofrmfield-container input[type="submit"] {
    float: right;
}
.formfield-add-link {
    clear: both;
}
.repeatedfield {
    clear: both;
    margin-left: 200px;
}

.myradiofrmfield-container label.myradiofrmfield-weeklycheck {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.myradiofrmfield {
  margin-left: 1.25em;
}

input.myradiofrmfield-weeklycheck {
  display: none;
}

input.myradiofrmfield-weeklycheck:checked + label {
  background-color: #363d5f;
}

table.myradiofrmfield-weeklycheck {
  border-collapse: collapse;
  margin: auto;
}

table.myradiofrmfield-weeklycheck th.hour {
  font-size: .8em;
}

table.myradiofrmfield-weeklycheck td {
  border: 1px solid #000;
  width: 15px;
  margin: 0;
  padding: 0;
}

.myradiofrm-file-upload-progress {
  display: none;
}

.tt-hint {
    width: 300px;
    height: 30px;
    margin-top: -2px;
    margin-left: 19px;
    font-size: 14px;
    color: #999
}

.tt-dropdown-menu {
    width: 300px;
    margin-top: 0px;
    margin-left: 19px;
    padding: 0 0 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

/* MyRadio Login Styles */
.chooseAuth label {
  padding: 1em;
}
.chooseAuth input {
  width: auto;
  vertical-align: baseline;
}
.chooseAuth h3 {
  display: inline-block;
  margin: 0 0 0 1.25em;
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  left: 45%;
  top: 4px;
  font-weight: bold;
  color: #999;
}

/** Generic Classes **/
/* Style */
.r,
.logotype {
  font-family: roundabout;
}
.left {
  text-align: left;
}

/* Layout */
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/** MyRadio Scheduler Styles **/
#sched_show-grp-credits-container .repeatedfield,
#sched_season .repeatedfield {
  clear: none;
  margin-left: auto;
}

#sched_show-grp-credits-container input,
#sched_show-grp-credits-container select,
#sched_season select,
#sched_season .nobr input,
#sched_season .nobr input {
  width: 150px;
}

#sched_show-grp-credits-container select,
#sched_season select {
  margin-right:4px
}


/** MyRadio Officer Page Styles **/
div.officer {
  display: inline-block;
  width: 190px;
  text-align: center;
  vertical-align: text-bottom;
}

div.officer img {
  width: 125px;
  display: block;
  margin: auto;
}

div.head-officer img {
  width: 175px;
}

div.assistant-officer img {
  width: 150px;
}

div.officer .officer-title {
  height: 45px;
}

@media (min-width: 992px) {
  div.scheduleview.view-day, div.scheduleview.hours-list {
    display: table-cell;
    width: calc(100% / 8);
  }
  div.scheduleview.view-day div.show time {
    display: none;
  }
  div.scheduleview.hours-list div.hour {
    height: 50px;
  }
}

div.scheduleview-view-week div.show-description,
div.scheduleview-view-week span.show-credits {
  display: none;
}

div.scheduleview div.show-description {
  font-style: italic;
  text-align: center;
}

div.scheduleview-view-day div.show-title {
  padding-left: 10%;
}

div.scheduleview div.show-title {
  display: inline-block;
}

#schedule-preview {
  min-height: 300px;
}

div.scheduleview.header {
  width: 100%;
  text-align: center;
}

@media (max-width: 999px) {
  div.scheduleview.view-day {
    display: block;
    width: 100%;
  }
  div.scheduleview.view-day div.show time {
    margin-right: 10px;
  }
  div.scheduleview.hours-list, div.scheduleview.view-day div.filler {
    display: none;
  }
}

div.scheduleview .day-header {
  text-align: center;
  height: 50px;
}

div.scheduleview.view-day div, div.scheduleview.hours-list div {
  overflow: hidden;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

div.scheduleview-view-day div.nownext {
  padding: 5px;
}

div.scheduleview div.now-marker {
  text-align: center;
  padding: 1px;
}
