html {
  padding: 0;
  margin: 0;
}
body {
  width: 1024px;
  height: 768px;
  background: #000;
  color: #FFF;
  font-family: "Source Sans Pro", 'sans-serif';
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: -22px;
  left: calc(50% - 512px);
  box-shadow: none;
  text-align: center;
}

#studio {
  margin-top: .2em;
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: -1em;
}
.black {
  color: black;
}
.orange {
  color: orange;
}
.studio1 {
  color: red;
}
.studio2 {
  color: #0044BA;
}
.studio3 {
  color: #0F0;
}
.studio4 {
  color: #bb00dc;
}
#time {
  font-size: 13em;
  margin-bottom: -.4em;
}
#date {
  font-size: 5em;
  margin:0;
  padding:0;
  margin-bottom:-.5em;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 2em;
  font-weight: bold;
}

#current-show, #next-show {
  font-size: 3.8em;
  margin-top: .3em;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
}
#next-show {
  font-size: 2.8em;
}
.bracket1 {
  font-family: "Times New Roman", serif;
  font-size: 140%;
  letter-spacing: 2px;
  text-shadow: 0 0 30px #17A;
}
.bracket2 {
  font-family: "Times New Roman", serif;
  font-size: 120%;
  text-shadow: 0 0 30px #17A;
}

#breaking-container {
  display: none;
  font-size: 5em;
  color: #F00;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: none;
}

#alert-status {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#alert-status div {
  width: 204.8px;
  height: 70px;
  border: 2px solid #CCC;
  color: #CCC;
  display: table-cell;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
}

#alert-status div.bad {
  border: 3px solid #F00;
  color: #F00;
}

#alert-status div.standby {
  border: 3px solid orange;
  color: orange;
}

#alert-status div.good {
  border: 3px solid #0F0;
  color: #0F0;
}

.news {
  color: #2CDFFF;
}