version: '3'
services:
  # Update this to the name of the service you want to work with in your docker-compose.yml file
  myradio:
    # Use a pre-built base image to speed up startup
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile.dev

    # If you want add a non-root user to your Dockerfile, you can use the "remoteUser"
    # property in devcontainer.json to cause VS Code its sub-processes (terminals, tasks, 
    # debugging) to execute as the user. Uncomment the next line if you want the entire 
    # container to run as this user instead. Note that, on Linux, you may need to 
    # ensure the UID and GID of the container user you create matches your local user. 
    # See https://aka.ms/vscode-remote/containers/non-root for details.
    #
    # user: vscode

    init: true
    
    volumes:
      # Update this to wherever you want VS Code to mount the folder of your project
      - ./schema:/var/www/myradio/schema:cached
      - ./src:/var/www/myradio/src:cached
