{% extends 'minimal.twig' %}
{% block content %}
{% if db_error %}
	<div class="ui-state-error"><span class="ui-icon ui-icon-alert fleft"></span>Failed to connect to database server. Please check your settings and try again.</div>
{% endif %}
<p>Currently, MyRadio only supports <a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a> as a database server.</p>
<p>Please fill in the details of your server below, with a login that has full control over the database it will be working in.</p>
<fieldset>
	<form action="?c=dbserver" method="POST">
		<label for="hostname">Host: <input type="text" name="hostname" id="hostname" placeholder="postgresql.example.fm" required></label><br>
		<label for="dbname">Database: <input type="text" name="dbname" id="dbname" value="myradio" required></label><br>
		<label for="username">Username: <input type="text" name="username" id="username" value="myradio" required></label><br>
		<label for="password">Password: <input type="password" name="password" id="password"></label><br>
		<input type="submit" value="Next" class="ui-button ui-widget ui-state-default">
	</form>
</fieldset>
{% endblock %}
