<li{% if studio_trained %} class="menu-checklist-done"{% endif %}>
  <a href="https://www.facebook.com/URY1350/events" title="The first stage to getting on air is going to a short lecture about using the studio.">Get Studio Trained</a>
</li>
<li class="{% if studio_demoed %}menu-checklist-done {% elseif not studio_trained %} menu-checklist-disabled{% endif %}">
  {% if studio_trained %}
    <a href="{{myury.makeURL(config, 'Scheduler','listDemos')}}" title="Once you know how to use the studio, you need to do a 30 minute demonstration of your knowledge to a URY Trainer.">Get Demoed</a>
  {% else %}
    <a href="{{myury.makeURL(config, 'Scheduler','listDemos')}}" title="Do a 30 minute off-air demo in the studio to prove your broadcasting prowess. Ideally, you should have gone to a Studio Training session first.">Get Demoed</a>
  {% endif %}
</li>
<li class="{% if paid %}menu-checklist-done{% endif %}">
  <a href="https://www.yusu.org/activities/societies/join/online" target="_blank" title="Before we can let you use our shiny and expensive studio, you'll need to pay membership. Click here to do so on the YUSU website now.">Become a Paid Member</a>
</li>
<li {% if not (studio_demoed and paid) %} class="menu-checklist-disabled"{% endif %}>
  <a href="{% if not (studio_demoed and paid) %}javascript:{% else %}{{myury.makeURL(config, 'Scheduler', 'myShows')}}{% endif %}"
     title="{% if not has_show %}You've passed all the stages of training. Now it's time to apply for your very first show! {%
else
%}One show a term not enough? Click here to apply for another show.{% endif %}">Apply for a Show</a>
</li>