{% extends 'stripe.twig' %}

{% block stripecontent %}
<div class="webcam-grid-container">
  {% for stream in streams %}
    <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}">
      <img src="{{stream.liveurl}}" class="webcam-stream" />
      <figcaption>{{stream.streamname}}</figcaption>
    </figure>
  {% endfor %}
</div>
<div class="ui-state-highlight" id="webcam-time-counter">
  <span class="glyphicon glyphicon-time"></span>You've been watching the webcams for <span id="webcam-time-counter-value">not very long</span>
</div>
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'Webcam/tracker.twig' %}
{% endblock %}
