{% extends 'table.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block stripecontent %}
<a href="{{MyRadio.makeURL(config, 'Scheduler', 'editTerm')}}">Add a new Term</a>
{{ parent() }}
{% endblock %}
