{% extends 'stripe.twig' %}
{% block stripecontent %}
{% if stage != 3 %}
<h2>This does exactly what you think</h2>
<p>Activating the button below does exactly what it says on the tin. Once it is
    pressed, the following things will happen:</p>
<ol>
    <li>The station's currently scheduled output will be suspended</li>
    <li>The station will be locked to playing only the prepared emergency file</li>
    <li>A very large number of people will be contacted to inform them this has happened</li>
</ol>
<p>Once this has been activated, <strong>you will not be able to reverse this</strong>.
    Management, News and Technical will be summoned, who will investigate the situation
    and then decide if/when broadcasting can resume.</p>

<p>You should push this button if:</p>
<ul>
    <li>The Queen or another named person has died, or you believe they have died</li>
    <li>Another major destructive event has occured (e.g. a terrorist attack, nuclear war)</li>
</ul>

<p>You <strong>should not</strong> push this button if:</p>
<ul>
    <li>You just want to know what it does</li>
    <li>You think it's the zombie apocalypse (probably just HAZSoc again...)</li>
    <li>You don't think it's been tested for a while (talk to Comp/Eng: They have better ways to test it)</li>
    <li>You have run out of bacon</li>
</ul>
{% endif %}
{% if stage != 0 %}<p class="alert alert-warning">You are on step {{stage}} of 3.</p>{% endif %}

{% if stage == 1 %}
<form method="post">
    <input type="hidden" name="stage" value="2">
    <input type="submit" class="btn btn-danger" value="I understand what I am doing. This is important!">
</form>
{% endif %}
{% if stage == 2 %}
{% if not result %}
<p class="alert alert-danger">That wasn't you first show. If you've never done a show, you can't use this.</p>
{% endif %}
<form method="post">
    <p>Okay. Please enter the title of your first ever show on the station:</p>
    <input type="hidden" name="stage" value="3">
    <input type="text" name="show-name" placeholder="When The Cows Go On Air" style="width:400px"><br>
    <input type="submit" class="btn btn-default sched-stop-button" value="Okay, done">
</form>
{% endif %}
{% if stage == 3 %}
<form method="post">
    <p>Enter your username (the part before the @) below to cease broadcasting.</p>
    <input type="hidden" name="stage" value="0">
    <input type="text" id="theField" style="width:400px"><br>
    <input type="submit" id="theButton" disabled="disabled" class="btn btn-danger" value="Start Obit System">
</form>
<script type="text/javascript">
    $('#theField').on('keyup', function() {
        console.log($(this).val());
        if ($(this).val() == "{{result}}") {
            $('#theButton').attr('disabled', 'disabled');
        } else {
            $('#theButton').removeAttr('disabled');
        }
    });
</script>
{% endif %}
{% endblock %}
