{% extends 'form.twig' %}
{% block stripecontent %}
{% if frm_custom.bannerName %}
<p>You are editing a the <em>{{frm_custom.bannerName}}</em> Banner.</p>
{% else %}
<p>You are creating a new Banner.</p>
{% endif %}
{{ parent() }}
{% endblock %}
