{% extends 'table.twig' %}
{% block stripecontent %}
<p>Banners are the big-image like things you can see on some pages of the website, most notably the front page.
This section enables you to create new Banners, and configure their <em>Campaigns</em> - when and where they appear.</p>
<a id="createlink" href="{{newbannerurl}}">Create a new Banner</a> | <a href="?joyride=banner_intro">Help Me Get Started</a>
{{ parent() }}
{% endblock %}
