{% extends 'table.twig' %}
{% block stripecontent %}
<a href="{{ bannersurl }}">&larr; Back to Banners</a>
<p>Banners are the big-image like things you can see on some pages of the website, most notably the front page.
This section enables you to create new Banners, and configure their <em>Campaigns</em> - when and where they appear.</p>
<p>You are viewing Campaigns for the <em>{{bannerName}}</em> Banner.</p>
<a href="{{newcampaignurl}}" id='createlink'>Create a new Campaign</a>
{{ parent() }}
{% endblock %}