<?php
/**
 * Configuration specific to a version or too sensitive to be in the main Config
 * go here.
 * 
 * Make a copy of this file called MyRadio_Config.local.php and edit it as
 * necessary. It will then override settings in the Config class.
 */

/**
 * Database connection settings.
 */
Config::$db_hostname = 'YOUR HOSTNAME HERE';
Config::$db_user = 'YOUR USERNAME HERE';
Config::$db_pass = 'YOUR PASSWORD HERE';

/**
 * Last.fm connection settings.
 */
Config::$lastfm_api_key = 'YOUR API KEY HERE';
Config::$lastfm_api_secret = 'YOUR API SECRET HERE';

/**
 * SU API connection settings.
 */
Config::$yusu_api_key = 'YOUR API KEY HERE';

/**
 * URL Settings
 */
Config::$base_url = '//ury.org.uk/myury/';
Config::$api_uri = '/api/';
Config::$api_url = '//ury.org.uk/api';
Config::$shib_url = '//ury.org.uk/portal';

/**
 * Feature enable
 */
Config::$rewrite_url = true;
Config::$cache_enable = true;
Config::$display_errors = true;
Config::$email_exceptions = true;
Config::$template_debug = true;
Config::$membership_fee = 7.00;

/**
 * Daemon enable
 */
Config::$d_BAPSSync_enabled = false;
Config::$d_EmailQueue_enabled = true;
Config::$d_Fingerprinter_enabled = false;
Config::$d_LabelFinder_enabled = false;
Config::$d_MemberSync_enabled = false;
Config::$d_Playlists_enabled = true;
Config::$d_Podcast_enabled = true;
Config::$d_StatsGen_enabled = false;
Config::$d_Explicit_enabled = false;