<?php
/**
 * Configuration specific to a version or too sensitive to be in the main Config
 * go here.
 *
 * Make a copy of this file called MyRadio_Config.local.php and edit it as
 * necessary. It will then override settings in the Config class.
 */
use \MyRadio\Config;

/**
 * String Settings
 */
Config::$short_name = 'ACRONYM OR ABBREVIATION HERE';
Config::$long_name = 'FULL STATION NAME HERE';
Config::$email_domain = 'EMAIL DOMAIN HERE';
Config::$founded = 'FOUNDED YEAR HERE';
Config::$facebook = 'FACEBOOK PAGE ADDRESS HERE (inc https://facebook.com)';

/**
 * Signup Emails
 */
Config::$welcome_email_sender_memberid = null;
Config::$welcome_email = <<<EOT
   This is a welcome (sign-up) email. You can use #NAME to get the user's first name.
   
   Here you should probably tell people about what they should do next to get started.
   
   You can set the ($)welcome_email_sender_memberid variable to send this email from/reply to
   someone important, maybe the head of station, so they can ask questions!
EOT;

Config::$account_details_email = <<<EOT
   This is an email to give a newly signed-up member their new login details.
   You can use #NAME to get the new member's first name.
   You can use #USER and #PASS to tell them their newly created login details.
   
   This email will send from a no-reply email so that user's don't spread their login details.
EOT;

/**
 * Database connection settings.
 */
Config::$db_hostname = 'YOUR HOSTNAME HERE';
Config::$db_name = 'membership';
Config::$db_user = 'YOUR USERNAME HERE';
Config::$db_pass = 'YOUR PASSWORD HERE';
Config::$auth_db_user = 'YOUR USERNAME HERE';
Config::$auth_db_pass = 'YOUR PASSWORD HERE';

/**
 * Last.fm connection settings.
 */
Config::$lastfm_api_key = 'YOUR API KEY HERE';
Config::$lastfm_api_secret = 'YOUR API SECRET HERE';

/**
 * Student Union-relevant settings.
 */
Config::$yusu_api_key = 'YOUR API KEY HERE';
Config::$yusu_api_website = 'YOUR YUSU WEB ADDRESS [WHERE THE API WORKS] HERE';
Config::$yusu_payment_url = 'LINK TO PAYMENT PAGE' // Link to student union society payment page

/**
 * URL Settings
 */
Config::$base_url = '//ury.org.uk/myradio/';
Config::$api_uri = '/api/';
Config::$api_url = '//ury.org.uk/api';

/**
 * Auth Settings
 */
Config::$recaptcha_public_key = 'YOUR KEY HERE';
Config::$recaptcha_private_key = 'YOUR KEY HERE';
Config::$jwt_signing_secret = 'SECRET_HERE';

/**
 * Feature enable
 */
Config::$rewrite_url = true;
Config::$cache_enable = true;
Config::$display_errors = true;
Config::$email_exceptions = true;
Config::$template_debug = true;
Config::$membership_fee = 7.00;

/**
 * Daemon enable
 */
Config::$d_BAPSSync_enabled = false;
Config::$d_EmailQueue_enabled = true;
Config::$d_Fingerprinter_enabled = false;
Config::$d_LabelFinder_enabled = false;
Config::$d_MemberSync_enabled = false;
Config::$d_Playlists_enabled = true;
Config::$d_Podcast_enabled = true;
Config::$d_StatsGen_enabled = false;
Config::$d_TrackAndTrace_enabled = true;
Config::$d_Explicit_enabled = false;

