<script type="text/javascript">
  $(function(){
    setTimeout(function() {
      $('#ury-irn').contents().find('#NewsRoomFrame').attr('src','IRNPortal/Newsroom.html');
    }, 5000);
  });
</script>

  <div id="news">
    <iframe id="ury-irn" src="{{myury.makeURL(config, 'SIS','news')}}" width="100%" height="680px"></iframe>
  </div>