{# <script type="text/javascript">
    $(document).ready(function(){
      setInterval('updateNews()', 30000);
    });
  			
    var newsLastUpdate = 'NA';
    function updateNews() {
      $.ajax({ url: myury.makeURL('SIS','news.parse'),
        settings:{'headers':{'SIS_LASTUPDATE':newsLastUpdate}},
        complete:function(XHR, status) {
          if (XHR.getResponseHeader('LastUpdate') != newsLastUpdate) {
            $('div#news').html(XHR.responseText);
            newsLastUpdate = XHR.getResponseHeader('LastUpdate');
          }
        }
      });
    }
  </script> #}
  <div id="news">
    <iframe id="ury-irn" src="https://ury.org.uk/~aj/proxy/index.php/"></iframe>
  </div>