<script type="text/javascript">
	$(document).ready(function(){
		setInterval('updateSchedule()', 60000);
		updateSchedule();
	});
			
	function updateSchedule() {
		$.getJSON(myury.makeURL('SIS','schedule.get'), function(data) {
			var currentStart = new Date(data.current.start_time*1000);
			var currentEnd = new Date(data.current.end_time*1000);
			$("#schedule-onair .showTime").text(formatTime(currentStart)+' - '+formatTime(currentEnd));
			$("#schedule-onair .showName").text(data.current.title);
			$("#schedule-onair .showPeople").text(data.current.presenters);
			$("#schedule-onair .showDesc").html(data.current.desc);

			$('#schedule-next').html('');
			data.next.forEach(function(e, i, data) {
				$('#schedule-next').append('<div id="schedule-item-'+i+'" class="schedule-item">
					<hgroup class="clearfix">
						<h3 class="showTime"></h3>
						<h3 class="showName"></h3>
						<h5 class="showPeople"></h5>
					</hgroup>
					<div class="showDesc"></div></div>')
				var nextStart = new Date(data[i].start_time*1000);
				var nextEnd = new Date(data[i].end_time*1000);
				$("#schedule-item-"+i+" .showTime").text(formatTime(nextStart)+' - '+formatTime(nextEnd));
				$("#schedule-item-"+i+" .showName").text(data[i].title);
				$("#schedule-item-"+i+" .showPeople").text(data[i].presenters);
				$("#schedule-item-"+i+" .showDesc").html(data[i].desc);
			});
			$('.schedule-item:not(:last-child)').append('<hr>');
		});
	}

	function formatTime(d) {
		var HH = d.getHours();
		if ( HH < 10 ) HH = '0' + HH;

		var MM = d.getMinutes();
		if ( MM < 10 ) MM = '0' + MM;

		if (isNaN(HH) || isNaN(MM)) {
			return "";
		}
		return HH+':'+MM;
	}
</script>
<div id="schedule">
	<div id="schedule-onair">
		<h2>On Air:</h2>
		<hgroup id="showLive" class="clearfix">
			<h3 class="showTime"></h3>
			<h3 class="showName"></h3>
			<h5 class="showPeople"></h5>
		</hgroup>
		<div class="showDesc"></div>
	</div>
	<h2>Coming Up:</h2>
	<div id="schedule-next"></div>

</div>