<div id="tracklist">
	<button id="add-track">Add Track</button>
	<table class="tracklist"></table>
	<div id="tracklist-entry" title="Track Details"></div>

	<div id="tracklist-insert" title="Insert Track">
		<form id="trackPick-Form">
			<fieldset>
				<label for"trackpick-artist">Artist:</label>
				<input type="text" name="trackpick-artist" id="trackpick-artist" class="text" >
				<label for="trackpick-album">Album:</label>
				<input type="text" name="trackpick-album" id="trackpick-album" class="text" >
				<label for="trackpick-tname">Track:</label>
				<input type="text" name="trackpick-tname" id="trackpick-tname" class="text" >
			</fieldset>
		</form>
		<div id="tracklist-insert-check" title="SIS Warning">
			SIS could not find <b id="warntitle"> --- </b> by <b id="warnartist"> --- </b> in the library. Continue?<br>
		</div>
	</div>
	<div id="tracklist-data"></div>
</div>
